* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
}

.homepage-header-and-section {
    background: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-aside-homepage {
    background: linear-gradient(135deg, #614385, #516395);
}

.header-scrolled {
    background: linear-gradient(135deg, #614385, #516395);
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* is the depth of the element outward of the screen, lower z-index means it's on the lower layer */
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

#landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage-title {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
    transition: 1s;
}

.big-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    border: 2px solid #fff;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.big-button:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

/* Homepage description */
section {
    padding: 100px 80px;
}

.section-description-center {
    text-align: center;
}

.homepage-description h2 {
    margin: 5px;
}

.normal-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    font-size: 1em;
    z-index: 9;
    text-align: center;
    align-items: center;
    margin: 15px;
}

.normal-button:hover {
    color: #fff;
    background: rgb(40, 26, 57);
    border: 2px solid rgb(40, 26, 57);
}

/* Feature intro */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* make all the cards to be the same height with each other */
}

section .card {
    width: calc(100% / 3 - 30px);
    text-align: center;
    list-style: none;
    background-color: #fff;
    padding: 40px 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

section .card img {
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    align-self: center;
}

.alternate-section {
    background-color: #edebe8;
}

section .card p {
    margin-top: 5px;
    flex-grow: 1;
}

/* Footer */
.footer {
    background: linear-gradient(135deg, #614385, #516395);
    padding: 20px 80px;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/* Menu toggler */
#menu-toggler,
#hamburger-button {
    display: none;
}

/* Digital Privacy --------------------------------------------------------------------------------------------------------------------------*/
/* Intro image and table of contents */
.intro {
    padding: 150px 80px 100px 80px;
}

#intro-digital-privacy {
    background: url(images/intro-digital-privacy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
}

#intro-digital-privacy h1 {
    color: #fff;
    font-size: 4vw;

}

#intro-digital-privacy p {
    margin-top: 30px;
    color: #fff;
    font-size: 1.2em;
}

#table-of-contents-digital-privacy {
    padding-top: 50px;
}

.collapsible {
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
}

.collapsible label {
    position: relative;
    font-weight: 600;
    font-size: 1.5em;
    background: #fff;
    color: rgb(40, 26, 57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
    padding: 15px 15px;
    border: 1px solid #000;
}

.collapsible label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
}

.collapsible label i {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 15px;
}

.collapsible-text {
    max-height: 0;
    overflow: hidden;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-top: none;
    margin-top: 0;
    padding: 0 35px;
}

.collapsible input:checked ~ .collapsible-text {
    max-height: 100%;
}

.collapsible input:checked ~ label i.fa-caret-down {
    transform: rotate(180deg);
    transform-origin: center;
    transition: all 0.3s ease;
    padding-right: 15px;
}

.collapsible-text li {
    padding: 5px 0;
}

.collapsible-text li a {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
}

#collapsible-head {
    display: none;
}

/* Digital Privacy article */
.digital-privacy-article h2 {
    padding-bottom: 15px;
    font-size: 2.5em;
}

.digital-privacy-article h3 {
    font-size: 1.125em;
}

.digital-privacy-article p,
.digital-privacy-article ul,
.digital-privacy-article ol {
    margin: 30px 0;
    font-size: 1em;
}

.section-article {
    margin-bottom: 50px;
}

.digital-privacy-article ul  {
    padding-left: 30px;
}

.digital-privacy-article ol {
    padding-left: 30px;
}

/* Game start page ---------------------------------------------------------------------------------------------------------------- */
.game {
    background: url(images/game-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-description {
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 5px 1px white;
    color: #fff;
    padding: 30px;
    height: calc(100vh - 120px);
    max-width: 700px;
    margin: auto;
}

.game-description h1 {
    padding-bottom: 10px;
    font-size: 180%;
}

.game-description p {
    padding-bottom: 10px;
    font-size: 100%;
}

.game-description button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-button {
    margin-top: 15px;
    padding: 5px 30px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    box-shadow: 0 0 1px 3px #40e0d0;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #40e0d0;
}

.game-button:hover {
    background-color: #40e0d0;
    color: #000;
}

.game-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#start-game-button:hover {
    box-shadow: 0 0 10px #40e0d0, 0 0 40px #40e0d0, 0 0 80px #40e0d0; /* neon effect */ 
}

/* Game levels page ------------------------------------------------------------------------------------------------------------------ */
.player-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.player-answer input {
    padding: 0 5px;
    margin: 0 10px;
}

.game-input-validation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.rules-list {
    padding: 10px 30px 10px 30px;
    background: rgb(128, 128, 128);
    margin-bottom: 30px;
}

.rules-list li {
    padding-bottom: 10px;
}

/* About us page ----------------------------------------------------------------------------------------------------------- */
.about-us {
    padding: 0;
    display: flex;
    align-items: stretch;
}

.about-us-title {
    font-size: 2em;
    text-align: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
}

.mission-vision {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.about-us-image {
    max-width: calc(100% - 60%);
    display: flex;
    align-items: center;
}

.about-us-image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-us-description {
    padding: 60px 30px 40px 30px;
    margin: 0;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-description h1 {
    padding: 15px 0;
    margin: 0;
}

.about-us-description h2 {
    padding: 15px 0;
    margin: 0;
}

/* Contact us */
.contact-us {
    padding: 80px;
    justify-content: center;
}

.contact-us h2 {
    margin-bottom: 20px;
}

.contact-details i {
    font-size: 20px;
    margin-right: 15px;
}

.contact-details a {
    text-decoration: none;
    color: #000;
}

.contact-details p {
    padding: 5px;
}

.contact-details {
    margin-bottom: 15px;
    text-align: center;
}

.feedback-form {
    width: 70%;
    margin: auto;
}

.feedback-form input{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 15px;
    border: 1px solid #bfbfbf;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border: 2px solid #000;
}

.feedback-form textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #bfbfbf;
}

.submit-feedback-button-container {
    display: flex;
    justify-content: right;
}

#submit-feedback-button {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* Resource hub ------------------------------------------------------------------------------------------------------ */
.news-header h2 {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 2em;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
}

.search-bar button {
    padding: 10px;
}

.news-content {
    padding-top: 30px;
}

#news-title {
    justify-content: left;
}



/* Responsiveness ---------------------------------------------------------------------------------------------------- */
@media (width < 1050px) {
    header {
        position: fixed;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    section {
        padding: 100px 30px;
    }

    header ul li {
        list-style: none;
        margin-left: 0;
        padding: 0 0 15px 0;
    }

    header ul li a {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 0;
        display: block;
    }

    header ul li a:hover,
    header ul li a.active {
        background: #fff;
        color: #2b1055;
    }

    .navbar .nav-links {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        background: linear-gradient(135deg, #614385, #516395);
        width: 250px;
        padding-top: 30px;
        left: -100%;
        transition: all 0.4s ease;
    }

    #menu-toggler:checked ~ .nav-links {
        left: 0;
    }

    .nav-links li {
        font-size: 18px;
    }

    #hamburger-button {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    section .cards .card {
        width: calc(100% - 15px);
        margin: 10px;
    }

    .intro {
        padding: 150px 30px 100px 30px;
    }

    .mission-vision {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-us-image {
        max-width: 100%;
    }

    .about-us-description {
        padding-top: 20px;
    }

    .feedback-form {
        width: 100%;
    }

    .news-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}